.btn-primary{
  background: var(--primary);
  border-color: var(--primary);
}
.btn-primary:hover{
  background: var(--primary-hover);
  border-color: var(--primary-hover);
}

.btn-outline-primary{
  border-color: var(--border);
  color: var(--primary);
}
.btn-outline-primary:hover{
  background: var(--soft);
  border-color: var(--border);
  color: var(--primary-hover);
}